*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}
nav {
    border: 3px solid black;
    margin: 0 20px;
    background-color: red;

    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between;
    padding: 20px;
    font-size: 40px;
}
#imgCabecalho{
    width: 20%;
}
li{
    line-height: 1;
    text-align:start;
}
.paragrafos p,h2,li{
    margin: 0 20%;
    padding: 10px 0;
}
.paragrafos li{
    margin: 0 0 0 20%;
}
#sectionVideo{
    display: flex;
    justify-content: center;
}