*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#divNav {
    border: 3px solid black;
    margin: 0 20px;
    background-color: red;

    display: flex;
    align-items: center; /* Alinha verticalmente */
    font-size: 20px;
    padding: 20px;
}

#caixaImg {
    margin: 0 20px /* Adiciona um espaçamento entre a imagem e os links */
}
#imgCabecalho{
    width: 20%;
}
header li{
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
}
.paragrafos p,h2{
    margin: 0 20%;
    padding: 10px 0;
}
.paragrafos p{
    font-size: 20px;
    line-height: 1.2;
}